
.dashboard {
    display: flex;
    gap: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}

.toDoTasks, .inProgressTasks, .completedTasks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 200px;
    max-width: 100%;
}

.deleteButton {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 16px;
}