
.dashboard {
    display: flex;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.toDoTasks, .inProgressTasks, .completedTasks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 200px;
    max-width: 100%;
}

.deleteButton {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 16px;
}

.editButton {
    position: absolute;
    margin: 16px;
    right: 0;
    bottom: 2rem;
}

.newTaskForm, .editTaskForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    border-top: 1px solid #ffffff88;

    .newTaskContent, .editTaskContent {
        padding: 1rem;
    }

    input {
        padding: .25rem .25rem .25rem 1rem;
        background: transparent;
        border: 1px solid #ffffffcc;
        border-radius: 4px;
        width: 100%;
    }

    label {
        margin-top: 20px;
        font-size: 1rem;
        }

    button {
        padding: 0.5rem 0;
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .dashboard {
        flex-direction: column;
    }
}

@media screen and (max-width: 2560px) {
    .dashboard {
        justify-content: space-evenly;
        width: 100%;
    }
}