.signupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}