.modalOverlay {
    background-color: #2e2e2ecc;
    border: 1px solid #ffffff88;
    z-index: 1000;
    position: absolute;
    top: 25%;
    right: 12.5%;
    border-radius: 4px;
    width: 50%;
    max-width: 480px;
    min-width: 200px;
}

.modalContent {
    position: relative;
    padding: 4rem;
}

.modalCloseButton {
    padding: 0;
    font-size: 16px;
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
}